
@{
    ViewData["Title"] = "Adicionar uma nova Grade de Aula";
}

@section Scripts{
    

}

<div class="text-center">
    <h4>
        Cadastro de Aulas
    </h4>
</div>


<form method="POST" asp-action="Detalhe" asp-controller="GradeAula" class="form p-5"
    style="border: 3px solid grey; background: #E6E6E6; border-radius: 15px; margin-top: 30px;">
    <div class="text-danger">@Html.ValidationSummary()</div>

    <div class="row">
        <div class="col-md-6">
            <input id="Id" type="hidden" class="form-control" />
            <label class="form-label">Turma</label>
            <select id="IdTurma" asp-items="@ViewBag.Turmas"  class="form-control" onchange="Pesquisar()"></select>
        </div>
    </div>

    <div id="divItem" hidden>
        <div class="row" id="divErroItem">
            <div class="col-md-6">
                <label class="form-label">Professor</label>
                <select id="IdProfessor" asp-items="@ViewBag.Professores" class="form-control"></select>
            </div>
            <div class="col-md-6">
                <label class="form-label">Matéria</label>
                <select id="IdMateria" asp-items="@ViewBag.Materias" class="form-control"></select>
            </div>
        </div>
    </div>

    <input type="button" value="Voltar" class="btn btn-success" onclick="Voltar()"
        style="margin-top: 30px; margin-bottom: 15px;"></td>
    <input type="button" value="Salvar" class="btn btn-success" onclick="Salvar()"
        style="margin-top: 30px; margin-bottom: 15px;">
    <input id="novo" type="button" value="Novo" class="btn btn-success" onclick="Adicionar()"
        style="margin-top: 30px; margin-bottom: 15px;"></td>
    <input type="button" value="Cancelar" onclick="Cancelar()" class="btn btn-danger"
        style="margin-top: 30px; margin-bottom: 15px;"></td>

    <div id="divpartialitens">

    </div>

</form>

<script>

    var idTurma = @ViewBag.IdTurma;

    function Editar(id,idProfessor,idMateria){
        $('#Id').val(id);
        $('#IdProfessor').val(idProfessor);
        $('#IdMateria').val(idMateria);
        //debugger;

        $('#divItem').prop('hidden', false);

    }

    function Voltar() {
        window.location.href = "https://localhost:5001/GradeAula";
    }

    window.onload = function () {
        if (idTurma != null){
            $('#IdTurma').val(idTurma).prop('disabled',true);
        }
        Pesquisar();
    }

    function Adicionar() {
        $('#divItem').prop('hidden', false);
        Limpar();
    }

    function Limpar(){
        $('#IdProfessor').val('');
        $('#IdMateria').val('');
    }

    function Pesquisar() {
        var result = $('#IdTurma').val(); 
        var url = '/GradeAula/ListaPartialViewDetalhe';
        var parametros = { idTurma: result };
        $.get(url, parametros) 
            .done(function (data) {
                $('#divpartialitens').html(data);  
            });
    }

    function Salvar() {
        var idGradeAula = $('#Id').val();
        var idTurmaDetalhe = $('#IdTurma').val();
        var idProfessor = $('#IdProfessor').val();
        var idMateria = $('#IdMateria').val();
        debugger;
 
        var url = '/GradeAula/Detalhe';
        var parametros = {
            Id: idGradeAula, IdTurma: idTurmaDetalhe, IdProfessor: idProfessor,
            IdMateria: idMateria
        };
        $.post(url, parametros)
            .done(function (data) {
                if (data.sucesso) {
                    $('#divItem').prop('hidden', true);
                    Pesquisar();
                    Limpar();
                } else {
                    $('#divErroItem').html(data.mensagem);
                }
            });
    }

    function Cancelar(){
        $('#divItem').prop('hidden', true);
        Limpar();
        
    }

</script>