@model X.PagedList.IPagedList<GradeAula>
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

<table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Id Turma</th>
            <th>Turma</th>
        

            <th></th>
        </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
            <td>@Model[i].IdTurma</td>
            <td>@Model[i].IdTurma - @Model[i].Tipo - @Model[i].Serie - @Model[i].Descricao</td>
            <td><input type="button" value="Editar" class="btn btn-dark" onclick="javascript:window.location=`/GradeAula/Detalhe/?idTurma=${@Model[i].IdTurma}&idEscola=${@Model[i].IdEscola}`">
            <input type="button" value="Excluir" class="btn btn-danger" onclick="Excluir(@Model[i].IdTurma)"></td>
            
            </tr>
            }
        
        </tbody>
    </table>

    @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina })) 